<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <ScriptPatternSelector defaultPattern="%highlight{%-5p | %d{dd.MM.yyyy HH:mm:ss,SSS} %r | %m%n}">
                    <Script name="selector" language="javascript"><![CDATA[
                       substitutor.replace("${main:pacifyLogLevel}"); 
                    ]]>
                    </Script>
                    <!-- INFO and DEBUG are using the defaultPattern -->
                    <PatternMatch key="ERROR" pattern="%-5p %m%n" />
                </ScriptPatternSelector>
            </PatternLayout>
        </Console>
    </Appenders>
    <Loggers>
       <!--  <Logger name="com.geewhiz.pacify.property.resolver.araresolver.AraPropertyResolver" level="trace" additivity="false">
            <AppenderRef ref="Console" />
        </Logger> -->
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>