<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- %d{dd.MM.yyyy HH:mm:ss} %-5p %c{1}:%-4L | %m%n" -->
            <PatternLayout pattern="%highlight{%-5p | %d{dd.MM.yyyy HH:mm:ss,SSS} %r | %m%n}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.geewhiz.pacify" level="error"/>
        <Root level="error">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>